@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98.0392%;
    --foreground: 215.2941 24.6377% 27.0588%;
    --card: 0 0% 100%;
    --card-foreground: 215.2941 24.6377% 27.0588%;
    --popover: 0 0% 100%;
    --popover-foreground: 215.2941 24.6377% 27.0588%;
    --primary: 174.0845 69.6078% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 200 60% 94.1176%;
    --secondary-foreground: 200.2597 50.3268% 30%;
    --muted: 207.2727 21.5686% 90%;
    --muted-foreground: 215.2941 20% 50%;
    --accent: 175.2 49.0196% 90%;
    --accent-foreground: 173.8318 69.9346% 30%;
    --destructive: 0 84.3137% 60%;
    --destructive-foreground: 0 0% 98.0392%;
    --border: 214.2857 30.4348% 90.9804%;
    --input: 214.2857 30.4348% 90.9804%;
    --ring: 174.0845 69.6078% 40%;
    --chart-1: 174.0845 69.6078% 40%;
    --chart-2: 200.1639 59.8039% 60%;
    --chart-3: 150.2362 49.8039% 50%;
    --chart-4: 45 90.1961% 60%;
    --chart-5: 0 69.6078% 60%;
    --sidebar: 0 0% 97.6471%;
    --sidebar-foreground: 0 0% 20%;
    --sidebar-primary: 246.9065 74.3316% 63.3333%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 72 17.9283% 49.2157%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 0 0% 83.1373%;
    --sidebar-ring: 246.9065 74.3316% 63.3333%;
    --font-sans: AR One Sans, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Playfair Display, serif;
    --font-mono: Fragment Mono, ui-monospace, monospace;
    --radius: 1rem;
    --shadow-x: 0px;
    --shadow-y: 5px;
    --shadow-blur: 10px;
    --shadow-spread: -2px;
    --shadow-opacity: 0.1;
    --shadow-color: hsl(0 0% 0%);
    --shadow-2xs: 0px 5px 10px -2px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 5px 10px -2px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 5px 10px -2px hsl(0 0% 0% / 0.1), 0px 1px 2px -3px hsl(0 0% 0% / 0.1);
    --shadow: 0px 5px 10px -2px hsl(0 0% 0% / 0.1), 0px 1px 2px -3px hsl(0 0% 0% / 0.1);
    --shadow-md: 0px 5px 10px -2px hsl(0 0% 0% / 0.1), 0px 2px 4px -3px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0px 5px 10px -2px hsl(0 0% 0% / 0.1), 0px 4px 6px -3px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0px 5px 10px -2px hsl(0 0% 0% / 0.1), 0px 8px 10px -3px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 5px 10px -2px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark:root {
    --background: 210 40% 98.0392%;
    --foreground: 215.2941 24.6377% 27.0588%;
    --card: 0 0% 100%;
    --card-foreground: 215.2941 24.6377% 27.0588%;
    --popover: 0 0% 100%;
    --popover-foreground: 215.2941 24.6377% 27.0588%;
    --primary: 174.0845 69.6078% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 200 60% 94.1176%;
    --secondary-foreground: 200.2597 50.3268% 30%;
    --muted: 207.2727 21.5686% 90%;
    --muted-foreground: 215.2941 20% 50%;
    --accent: 175.2 49.0196% 90%;
    --accent-foreground: 173.8318 69.9346% 30%;
    --destructive: 0 84.3137% 60%;
    --destructive-foreground: 0 0% 98.0392%;
    --border: 214.2857 30.4348% 90.9804%;
    --input: 214.2857 30.4348% 90.9804%;
    --ring: 174.0845 69.6078% 40%;
    --chart-1: 246.9065 74.3316% 63.3333%;
    --chart-2: 282.2857 43.5685% 47.2549%;
    --chart-3: 274.6154 100% 25.4902%;
    --chart-4: 218.5401 79.1908% 66.0784%;
    --chart-5: 207.2727 44% 49.0196%;
    --sidebar: 220 14.7541% 11.9608%;
    --sidebar-foreground: 0 0% 89.8039%;
    --sidebar-primary: 246.9065 74.3316% 63.3333%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 218.5401 79.1908% 66.0784%;
    --sidebar-accent-foreground: 0 0% 89.8039%;
    --sidebar-border: 0 0% 26.6667%;
    --sidebar-ring: 246.9065 74.3316% 63.3333%;
  }
}
